:root{
    --font-size-time : 15vh;
    --font-size-greeting : 5vh;
    --font-size-askToDo : 3vh;
    --font-size-weather : 1.5vh;

    --font-color : white;
    --color-tooltip-background : rgba(11,11,11,0.7);
    --color-settingIcon : rgba(55,55,55,0.7);
    --color-hoverToDo : rgba(220,220,220,0.1);
}


html, body{
    margin : 0;
    padding :0;
    font-family: 'Noto Sans KR', sans-serif;
}

div{
    cursor :default;

}
.centerTest{
    background : rgba(255,0,0,0.5);
    z-index : -1;
    position : absolute;
    height : 100%;
    width : 50%;
    left : 0;
    
}

/***************** MANUAL ******************/
.manualContainer{
    width : 100%;
    height : 100%;
    display : hidden;
    visibility: hidden;
}

/* setting w.hover */
.containerIcon{
    visibility : hidden;
    margin-left: calc(var(--font-size-time) * 0.1);;
    cursor : pointer;
    width : calc(var(--font-size-time) * 0.3);
    height : calc(var(--font-size-time) * 0.3);;
    border-radius : 50%;
    text-align : center;
    vertical-align : middle;
    position: relative;

    display : flex;
    align-items : center;
    justify-content : center;
    z-index : 10;
}
.clockContainerIcon{
    visibility : hidden;
    margin-left: calc(var(--font-size-time) * 0.1);
    cursor : pointer;
    width : calc(var(--font-size-time) * 0.3);
    height : calc(var(--font-size-time) * 0.3);
    border-radius : 50%;
    text-align : center;
    vertical-align : middle;
    position: relative;

    display : none;
    align-items : center;
    justify-content : center;
    z-index : 10;
}
.showingClockContainerIcon{
    display : flex;
}

.clock:hover .clockContainerIcon,
.containerGreetings:hover .containerIcon{
    visibility : visible;
}

.containerIcon:hover,
.clockContainerIcon:hover{
    background-color : var(--color-settingIcon);    
}
.settingsIcon{
    color : white;
    display : none;
}
  
  /* Tooltip text */
.containerIcon .settings,
.clockContainerIcon .settings {
    visibility: hidden;
    width: 150px;
    background-color: var(--color-tooltip-background);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 125%;  /* 여기를 top, bottom으로 고치면 위아래 바뀜 */
    left: 150%; /*여기는 좌우 조절*/
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.5s;
  }

  
  /* Tooltip arrow */
.containerIcon .settings::after,
.clockContainerIcon .settings:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  /*replace JavaScript Click event
.containerIcon:hover .settings {
    visibility: visible;
    opacity: 1;
  }
*/


.wrapMain{
    display : flex;
    flex-direction: column;
    align-items: center;
    height : 100vh;
    justify-content: center;
    margin-right: 0;
    transition : margin-right 1s;
}
.moveWrapMain{
    margin-right: 50vw;
}


/***************** CLOCK : WRAP CLOCK ******************/
.wrapClock{
    display: flex;
    flex-direction: column;
    align-items : center;
    margin-left: calc(var(--font-size-time) * 0.05);
    /*
    margin-top : calc(50vh - var(--font-size-time));
    */
}

/***************** CLOCK : DATE ******************/
.js-date{
    display : none;
    color: var(--font-color);
    font-size: calc(var(--font-size-time) * 0.2);
    text-align: center;
       
    visibility: hidden;
    opacity: 0;    
    /*
    margin-left : 2vw;
    */
    
    transition: opacity 1s;
}
.wrapClock:hover .js-date{
    visibility: visible;
    opacity: 1;
}



/***************** CLOCK ******************/

.clock{
    display : flex;
    align-items : center; 
    /*
    margin-left : 45px;
    */
}
.clock .time,
.clock .stopwatch{
    font-weight: bold;
    color : var(--font-color);
    font-size : var(--font-size-time);
    
    transition: color .5s ease-in-out;
    line-height: calc(var(--font-size-time)*0.68);
    height: calc(var(--font-size-time)*0.8);
}
.clock .stopwatch{
    margin-right : calc(var(--font-size-time) * 0.4);
}

.clock .stopwatch .timerMinutes:focus,
.clock .stopwatch .timerSeconds:focus,
.containerGreetings .yourName{
    outline :none;
}


.clock .time input{
    margin-right: 10px;
}

.clock .settingsIcon .settings{
    display: flex;
    flex-direction: column;
    align-items :flex-start;
}
.clock .settingsIcon .settings input{
    margin : 0 10px;
}
.clock .clockContainerIcon .settings{
    width: 160px;
}

/***************  CLOCK TYPE ICON ***************/
.wrapClock .clockTypeIcon{
    color : white;
    font-size : calc(var(--font-size-time) * 0.2);
}
.wrapClock .clockTypeIcon{
    visibility : hidden;
    
    cursor : pointer;
    width : calc(var(--font-size-time) * 0.35);
    height : calc(var(--font-size-time) * 0.35);
    border-radius : 50%;
    text-align : center;
    vertical-align : middle;
    position: relative;

    display : flex;
    align-items : center;
    justify-content : center;
    z-index : 10;
}

.wrapClock .clock:hover .clockTypeIcon{
    visibility : visible;
}

.wrapClock .clockTypeIcon:hover{
    background-color : var(--color-settingIcon);    
}
/* js로 클릭하면 나오도록
.wrapClock .clockTypeIcon:hover .clockTypeList{
    visibility : visible;
}
*/

.wrapClock .clockTypeIcon .clockTypeList{
    visibility :hidden;
    position : absolute;
    width : calc(var(--font-size-time) * 0.7);
    height : 100%;
    background-color : var(--color-tooltip-background);    
    border-radius: calc(var(--font-size-time) * 0.7);

    display : flex;
    align-items : center;
    justify-content : space-around;
    
    margin-left : calc(var(--font-size-time) * 0.35);
    
    opacity: 0;
    transition: opacity 0.5s;

}
.selectClockType{
    color : white;
}
.unselectClockType{
    color : rgba(180,180,180);
}

.wrapClock .clockTypeIcon .clockTypeList .unselectClockType:hover{
    color : rgba(230,230,230);
}

.wrapClock .clockTypeIcon .clockTypeList .tooltipClockType{
    visibility : hidden;
    font-size : calc(var(--font-size-time) * 0.12);
    position : absolute;
    top : 110%;
    background-color : var(--color-tooltip-background);
    font-weight: initial;
    padding : 2px;
    border-radius : calc(var(--font-size-time) * 0.6);
}
.wrapClock .clockTypeIcon .clockTypeList i{
    display : flex;
    flex-direction: column;
    align-items : center;
}
.wrapClock .clockTypeIcon .clockTypeList .fa-clock:hover .tooltipClockType{
    visibility : visible;
}
.wrapClock .clockTypeIcon .clockTypeList .fa-stopwatch:hover .tooltipClockType{
    visibility : visible;
}

/************** CLOCK OR STOPWATCH (*************/
.time,
.stopwatch{
    display :none;
}

/************** TIMER ICONS *************/
.timerIcons{
    display:none;
}
.timerIcons{
    color : white;
    font-size : calc(var(--font-size-time) * 0.3);
    margin-right : calc(var(--font-size-time) * 0.05);
    margin-top : calc(var(--font-size-time) * -1 * 0.15);
    z-index : 5;
}
.oneIcon,
.twoIcons{
    display :none;
}

.js-play,
.js-pause,
.js-stop{
    cursor: pointer;
}

/* ******************* NAME ********************/
.containerGreetings{
    display : flex;
    align-items : center;
    margin-top : 25px;
    margin-left : calc(var(--font-size-time) * 0.4);
    /*
    margin-left: 45px;
    */
}
.containerGreetings .greetings,
.containerGreetings .yourName,
.containerGreetings .wiseQuote{
    color : var(--font-color);
    font-size: var(--font-size-greeting);
}
.containerGreetings .greetings,
.containerGreetings .wiseQuote{
    /*
    margin-left : 45px;
    */
}
/*
.containerGreetings .wiseQuote{
    width : 40vw;
}

.containerGreetings .containerIcon{
    margin-left: 15px;
}
*/
.containerGreetings .settings{
    display : flex;
    flex-direction : column;
    align-items : center;
}
.containerGreetings .settings button{
    display : block;
    padding : 5px;
    cursor: pointer;
    white-space: nowrap;
    background: transparent;
    border: none ;
    outline: 0;
    color: #fff;
}
.containerGreetings .settings button:hover{
    background : var(--color-settingIcon);
}

.name,
.greetings,
.yourName,
.wiseQuote,
.containerGreetings .containerIcon {
    display : none;
}

.showing{
    display: block;
}
.showingWise{
    display : block;
    font-size: calc(var(--font-size-greeting) * 0.5);
}

/* ******************* Form_Greeting,  ********************/
.js-toDoForm input[type=text] {
    font-size: var(--font-size-askToDo);
}
.js-toDoForm input[type=text]::placeholder{
    text-align: center;
}
.js-name input[type=text] {
    font-size: var(--font-size-greeting);
    margin-top : 20px;
}
input[type=text]{
    border: none;
    border-bottom: 2px var(--font-color) solid;
    background: transparent;
    color : var(--font-color);
}
input[type=text]::placeholder{
    color : var(--font-color);
}
input[type=text]:focus{
    outline: none;
}



/* ******************* Form SHAKE ********************/
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, -1px, 0);
    }  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }  
    30%, 50%, 70% {
      transform: translate3d(-4px, -4px, 0);
    }  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
  
.applyShake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



/* ******************* Form ********************/
.js-toDoForm{
    margin-top : 40px;
    /*
    margin-left : 45px;
    */
}



/* ******************* TODOLIST :TOP :  DATE********************/
.containerToDoList .top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height : 3vh;
}
.containerToDoList .slideDate{
    flex : 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
    

}

.containerToDoList .top .topCalendarWrap{
    position: absolute;
    left : 0;
    transition : transform 0.5s cubic-bezier(0.645, -0.600, 0.460, 1.600);
    top : -0.2vh;
}
.containerToDoList .top .topCalendarWrap:hover{
    transform : scale(1.5);
}

.containerToDoList .top .topCalendar{
    display: inline-block;
  position: relative;
}
.containerToDoList .top .topCalendar input[type=date]{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    visibility: visible;
    cursor: pointer;

}

.containerToDoList .top .topCalendar input[type=date]::-webkit-calendar-picker-indicator{
    position: absolute;
    top: 0%;
    left: -150%;
    width: 300%;
    height: 300%;
    cursor: pointer;
}

.containerToDoList .top .fa-calendar-day{
    position: absolute;
    right : 0;
    
    cursor: pointer;
    transition : transform 0.5s cubic-bezier(0.645, -0.600, 0.460, 1.600);
}
.containerToDoList .top .fa-calendar-day:hover{
    transform : scale(1.5);
}

.containerToDoList .slideDate #btn_pre,
.containerToDoList .slideDate #btn_next{
    border : 1px solid gray;
    border-radius : 50%;
    font-size: calc(var(--font-size-askToDo) * 0.7);
    line-height: 2vh;
    text-align : center;
    height : 2.7vh;
    width : 2.7vh;
    cursor : pointer;
    background-color : rgba(255,255,255,1.0);
    padding : 0;
}
.containerToDoList .slideDate .selectDate{
    font-size: calc(var(--font-size-askToDo) * 0.9);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom : 0.4vh;
    
}

/* ******************* TODOLIST :Title : YOUR TODO LIST********************/
.containerToDoList .title{
    margin-top : 1vh;
    text-align: center;
    font-weight: bold;
    position: relative;
    display : flex;
    align-items : center;
    justify-content : center;
}
.containerToDoList .title .numOfToDo,
.containerToDoList .title .numOfDone{
    font-size : calc(var(--font-size-askToDo) * 0.6);
    position : absolute;
    right : 0;
    margin-right : 20px;
}

/* ******************* TODOLIST ********************/
.js-toDoList,
.js-DoneList{
    padding : 0;
    margin : 0;
    list-style: none;
}
.containerToDoList li{
    display : flex;
    align-items : baseline;
    flex-wrap: nowrap;
    /*border : 1px solid yellow;*/
    position : relative;
}
.containerToDoList li:hover{
    background-color : var(--color-hoverToDo);
    border-radius: 15px;
}
.containerToDoList li .fa-circle,
.containerToDoList li .fa-check-circle{
    flex : none;
}
.containerToDoList li .fa-check-circle{
    color : #e74c3c;
}
.containerToDoList li span{
    margin-left: 8px;
    flex : auto;

    text-overflow: ellipsis;
    overflow : hidden;
    white-space : nowrap;
}
.containerToDoList li .target{
    flex : none;
    margin-left : auto;
    margin-right : 15px;
    font-size: calc(var(--font-size-askToDo) * 0.5);
    align-self : center;
    z-index:3;
}

/* test 중 
.containerToDoList li input[type=date]{
    border : none;
    margin-right: 1vw;
    display : inline-block;
    visibility : visible;
}

.containerToDoList li input[type=date]::-webkit-datetime-edit-text{
    display : none;
    appearance : none;
    content : "./";
  }

  .containerToDoList li input[type=date]::-webkit-datetime-edit-month-field {
    display : none;
    appearance : none;
  }
  .containerToDoList li input[type=date]::-webkit-datetime-edit-day-field {
    display : none;
    appearance : none;
  }
  
  .containerToDoList li input[type=date]::-webkit-datetime-edit-year-field {
    display : none;
    appearance : none;
  }
  ********/

  .containerToDoList .targetWrap {
    display: inline-block;
    position: relative;
  
  }
  .containerToDoList .targetWrap input[type=date] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    visibility: visible;
    display: inline-block;
  }
  .containerToDoList .targetWrap input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0%;
    left: -150%;
    width: 300%;
    height: 300%;
    cursor: pointer;
  }
  
  

.containerToDoList .js-DoneList .strike{
    height : 2px;
    width : calc(100% - 70px);
    margin-left: 32px;
    position : absolute;
    top : 50%;
    background-color: #e74c3c;
    
}
.containerToDoList ul .overdueToDo{
    color : red;
}

.containerToDoList li .fa-times{
    flex : none;
    margin-left : auto;
}

.wrapToDo{
    position : absolute;
    width : 25vw;
    height : 100vh;
    right: 0;
    top:0;
    z-index:2;
    background-color: rgba(0,0,0,0);
}


.containerToDoList{
    width : 20vw;
    height : 80vh;
    position : absolute;
    right : 5vw;
    top : 50%;
    margin-top: -40vh;
    background-color : rgba(0,0,0,0.7);
    font-size: calc(var(--font-size-askToDo) * 0.7);
    color : var(--font-color);
    display : flex;
    flex-direction: column;    
    justify-content : space-between;
    padding: 20px 20px;
    border-radius : 15px;

    opacity : 0;
    transition : opacity 0.7s, width 1s;  

}
.js-toDoForm2{
    margin-top : 2vh;
    display : flex;
    justify-content : space-between;
    height : 3vh;
}
.js-toDoForm2 input[type=date]{
    text-align : right;
    position : relative;
}
.js-toDoForm2 input[type=date]::-webkit-calendar-picker-indicator {
    
    position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}


.js-toDoForm2 input[type=text] {
    font-size: calc(var(--font-size-askToDo) * 0.7);
    width : 98%;
}
.js-toDoForm2 input[type=date] {
    visibility: hidden;
    display : none;
    font-size: calc(var(--font-size-askToDo) * 0.6);
    width : 23%;

    background-color: transparent;
    border : none;
    color: var(--font-color);
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom : 2px solid white;
    
}
.js-toDoForm2 input[type=date]:focus{
    box-shadow: none;
    outline : none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 1;
    filter: invert(1);
  }
  



.containerToDoList .containerToDo,
.containerToDoList .containerDone{
    width : 100%;
    height : 30vh;
    /*border : 1px solid red;*/
    overflow :auto;
}
.containerToDoList .containerAllCompleted{
    width : 100%;
    align-self: flex-end;
    font-size: calc(var(--font-size-askToDo) * 0.5);
    display : flex;
    justify-content : flex-end;
    height : 2.5vh
}

.containerToDoList .bottom{
    width : 100%;
    align-self: flex-end;
    font-size: calc(var(--font-size-askToDo) * 0.5);
    display : flex;
    justify-content: space-between;
    align-items: center;
    height : 2.5vh
}


.containerToDoList .bottom .progressPercentMax{
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    
    border-radius: 100px;
    align-items: center;
    padding: 0;
    display: flex;
    width: 40%;
}
.containerToDoList .bottom .progressPercentCurrent{
    
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    text-align: center;
    background: #fff;
    
    width: 0%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
    color : black;
}

.containerToDoList button{
    width : 13vh;
    font-size: calc(var(--font-size-askToDo) * 0.5);
    
    border : none;
    border-radius : 15px;
    cursor : pointer;
    background-color : rgba(255,255,255,0.5);
    outline : none;
}
.containerToDoList button:hover{
    background-color : rgba(255,255,255,0.9);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}


.toDoListIcon{
    color : var(--font-color);
    font-size : var(--font-size-greeting);
    position : absolute;
    right : 1vw;
    Top : 50%;
    transform :translateY(-50%);
    opacity : 1;
    transition: opacity 1s;

}
.toDoListIcon :hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.showToDoIcon{
    opacity : 0.4;
}
.showToDoIcon:hover{
    opacity : 0.6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.showList{
    opacity : 1;
    
}
.wideToDo{
    width : 40vw;
}



/* ******************* WEATHER ********************/
#containerWeather{
    position : absolute;
    top : 10px;
    left : 20px;
    color : var(--font-color);
    font-size: var(--font-size-weather);

}

#containerWeather ul,
#containerWeather li{
    list-style-type : none;
    padding : 0;
    margin : 5px 5px 5px 10px;
}
#containerWeather li{
    font-size : calc(var(--font-size-weather) * 0.8);
}

/* Daily Weather w.hover */
#containerWeather .containerDailyWeather{
    visibility : hidden;
    width: 17vh;
    border-radius : 20px;
    background-color: var(--color-tooltip-background);
    color : var(--text-color);
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: calc(var(--font-size-weather) + 40px);  /* 여기를 top, bottom으로 고치면 위아래 바뀜 */
    left: 0;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

  /* Tooltip arrow */
#containerWeather .containerDailyWeather::after {
    content: "";
    position: absolute;
    bottom: 100%; 
    left: 15%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent var(--color-tooltip-background) transparent;
  }
  
 /* Show the tooltip text when you mouse over the tooltip container */
#containerWeather:hover .containerDailyWeather{
    visibility : visible;
    opacity: 1;
}








@keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index :-1;
    animation: fadeIn 1s linear;
}

